@page "/signup"
@using productivityPlanner.Models;
@using productivityPlanner.Shared;

<h1>Sign Up</h1>

<EditForm Model="@signUpModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <p>
        <label for="Email">Email: </label>
        <InputText id="Email" @bind-Value="@signUpModel.Email" />
    </p>
    <p>
        <label for="Password">Password: </label>
        <MyInput Type="password" Id="Password" @bind-Value="@signUpModel.Password" />
    </p>
    <p>
        <label for="ConfirmPassword">Confirm Password: </label>
        <InputText id="ConfirmPassword" @bind-Value="@signUpModel.ConfirmPassword" />
    </p>
    <button type="submit">Submit</button>
</EditForm>


@code {
    SignUpModel signUpModel = new SignUpModel();


    void HandleValidSubmit()
    {
        string test = "BreakpointTest";
    }
}
